.main-container {
  display: flex;
  max-width: 1280px;
  gap: 20px;
}

.center-container {
  flex-grow: 2;
  width: 50%;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  border: 6px dashed var(--third500);
}

.center-container h1 {
  font-family: 'MilkyWay', sans-serif;
}