.main-container {
  display: flex;
  max-width: 960px;
  gap: 16px;
}

.center-container {
  flex-grow: 2;
  width: 50%;
  padding: 16px;
  margin-top: 16px;
  background-color: white;
  border-radius: 16px;
}

.center-container h1 {
  font-family: 'MilkyWay', sans-serif;
}

h1 img {
  height: 30px;
}

.title-w-bigicon {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.title-w-bigicon h1 {
  margin: 0;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.divider {
  display: block;
  margin: auto;
  width: 70%;
}