.container75 {
  width: 75%;
}

.container25 {
  width: 25%;
}

.container75, .container25 {
  margin-top: 20px;
  padding: 16px;
  background-color: white;
  border-radius: 16px;
  box-sizing: border-box;
}

.container75 h1, .container25 h1 {
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 14px;
  margin-top: 0;
}

.fandoms-container {
  display: flex;
  gap: 16px;
  justify-content: space-around;
  margin-bottom: 30px;

}

.fandoms-table {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.cell-wide {
  width: 100%;
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 4px;
}

.cell {
  box-sizing: border-box;
  width: 50%;
  border-radius: 6px;
  padding: 4px;
  height: 22px;
}

.link-box {
  height: 60px;
  width: 180px;
  font-size: 12px;
  border-radius: 6px;
  outline-color: var(--lav400);
  margin-top: 16px;
}

.margin-bottom30 {
  margin-bottom: 30px;
}
