.header {
  background-image: url('/img/header.jpg');
  background-size: cover;
  max-width: 960px;
  height: 280px;
  padding: 36px;
  box-sizing: border-box;
  border: 4px dashed var(--lav400);
  border-radius: 16px 16px 0 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header h1 {
  font-family: 'UbuntuMono', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: var(--lav400);
  margin: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--text300);
}

.navbar {
  background-color: var(--lav400);
  max-width: 960px;
  padding: 8px;
  border-radius: 0 0 16px 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  font-family: 'FreshTea', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: var(--yellow400);
  transition: 0.5s;
}