.header {
  background-image: url('img/header.jpg');
  background-size: 1280px auto;
  max-width: 1280px;
  height: 400px;
  padding: 40px;
  box-sizing: border-box;
  border: 6px dashed var(--third500);
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header h1 {
  font-family: 'UbuntuMono', sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: var(--first400);
  margin: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--text300);
}

.navbar {
  background-color: var(--first400);
  max-width: 1280px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  font-family: 'FreshTea', sans-serif;
  font-size: 40px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: var(--second400);
  transition: 0.5s;
}