.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.sidebar-element {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  flex-grow: 1;
}

.sidebar-element h1 {
  text-align: center;
  color: white;
  border-radius: 16px;
  padding: 10px;
  margin: 0 0 20px 0;
}

.title-w-smallicon {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.title-w-smallicon img {
  height: 40px;
}

.title-w-smallicon h1 {
  margin-bottom: 0px;
}