.sidebar {
    width: 25%;
}

.sidebar-element {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border: 6px dashed var(--third500);
  border-radius: 20px;
}

.sidebar-element h1 {
  text-align: center;
}

.title-w-smallicon {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.title-w-smallicon img {
  height: 40px;
}