.scroll-container, .stamp-container {
  overflow: auto;
  border: 1px solid var(--pink400);
  border-radius: 8px;
  padding: 0 12px 0;
}

.scroll-container {
  height: 400px;
}

.stamp-container {
  height: 640px;
}

.stamp {
  width: 99px;
  height: 56px;
}
