:root {
  --lav300: #edd6f8;
  --lav350: #ddb7ee;
  --lav400: #d38df3;
  --lav500: #bd5aeb;
  --yellow300: #fffbd4;
  --yellow400: #faf18f;
  --pink400: #fccde7;
  --pink500: #f59bcd;
  --pink600: #eb68b0;
  --sax300: #c7eefa;
  --sax400: #83defa;
  --sax500: #3dc7f1;
  --text300: #866e58;
  --text400: #64472E;
}

@font-face {
  font-family: 'MilkyWay';
  src: url('fonts/milkyway.woff') format('woff');
}

@font-face {
  font-family: 'FreshTea';
  src: url('fonts/freshtea.woff') format('woff');
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('fonts/UbuntuMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('fonts/UbuntuMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('fonts/UbuntuMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('fonts/UbuntuMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

body {
  height: 100%;
  background-image: url('img/mainbg.jpg');
}

div {
  font-family: 'UbuntuMono', monospace;
  font-size: 20px;
  color: var(--text300);
}

h1 {
  font-family: 'FreshTea', sans-serif;
  font-weight: 400;
  color: var(--pink500);
}

.main-wrapper {
  height: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 20px;
}


/* BUTTONS */

.basic-btn {
  background-color: var(--lav400);
  color: var(--text300);
}

.basic-btn:hover {
  background-color: var(--lav500);
  color: var(--text300);
}
