:root {
  --lav300: #edd6f8;
  --lav350: #ddb7ee;
  --lav400: #d38df3;
  --lav500: #bd5aeb;
  --pink300: #fccde7;
  --pink400: #f59bcd;
  --pink500: #eb68b0;
  --yellow300: #fffbd4;
  --yellow400: #faf18f;
  --yellow500: #fcec3b;
  --mint300: #caffeb;
  --mint400: #59f5ce;
  --mint500: #21d6a9;
  --sax300: #c7eefa;
  --sax400: #83defa;
  --sax500: #3dc7f1;
  --text300: #866e58;
  --text400: #64472E;
}

@font-face {
  font-family: 'MilkyWay';
  src: url('/fonts/milkyway.woff') format('woff');
}

@font-face {
  font-family: 'FreshTea';
  src: url('/fonts/freshtea.woff') format('woff');
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('/fonts/UbuntuMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('/fonts/UbuntuMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('/fonts/UbuntuMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('/fonts/UbuntuMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

/* BACKGROUND COLORS */

.bg-pink {
  background-color: var(--pink300);
}

.bg-pink2 {
  background-color: var(--pink400);
}

.bg-yellow {
  background-color: var(--yellow300);
}

.bg-yellow2 {
  background-color: var(--yellow500);
}

.bg-yellow3 {
  background-color: var(--yellow400);
}

.bg-mint {
  background-color: var(--mint300);
}

.bg-mint2 {
  background-color: var(--mint400);
}

.bg-sax {
  background-color: var(--sax300);
}

.bg-sax2 {
  background-color: var(--sax400);
}

.bg-lav {
  background-color: var(--lav300);
}

.bg-lav2 {
  background-color: var(--lav400);
}

/* TEXT COLORS */

.text-pink {
  color: var(--pink500);
}

.text-pink2 {
  color: var(--pink400);
}

.text-yellow {
  color: var(--yellow500);
}

.text-mint {
  color: var(--mint500);
}

.text-sax {
  color: var(--sax500);
}

.text-lav {
  color: var(--lav500);
}


/* BORDER COLORS */

.border-pink {
  border: 4px dashed var(--pink400);
}

.border-yellow {
  border: 4px dashed var(--yellow400);
}

.border-mint {
  border: 4px dashed var(--mint400);
}

.border-sax {
  border: 4px dashed var(--sax400);
}

.border-lav {
  border: 4px dashed var(--lav400);
}

.center-img {
  display: block;
  margin: auto;
}



body {
  height: 100%;
  background-image: url('/img/mainbg.jpg');
  scrollbar-width: thin;
  scrollbar-color: var(--lav400) var(--mint300);
}

div {
  font-family: 'UbuntuMono', monospace;
  font-size: 16px;
  color: var(--text300);
}

h1 {
  font-family: 'FreshTea', sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.main-wrapper {
  height: 100%;
  max-width: 960px;
  margin: auto;
  padding: 16px;
}


/* SCROLL BARS */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--mint300);
}

::-webkit-scrollbar-thumb {
  background: var(--lav400);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--lav500);
}


/* BUTTONS */

.basic-btn {
  background-color: var(--lav400);
  color: var(--text300);
}

.basic-btn:hover {
  background-color: var(--lav500);
  color: var(--text300);
}
